<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{pageTitle}}</title>
  </head>
  <body>
  {{> header}}
    <p>{{screamIt "Welcome to world of NodeJS"}}</p>
    <!-- {<footer>
      <p>copyright {{currentYear}}</p>
    </footer> -->
    {{> footer }}
  </body>
</html>
